/*Update Comment .......*/

body,html {
  height: 100%;
}

body {
  padding-top: 0px;
  background-color: #fff;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: left;
}

.current-proj {
  padding: 3rem 1.5rem;
  text-align: left;
}

.current-proj-list li {
  display: block;
  width:100%;
  height:100%;
}

.current-proj-list li:before {
  content: "\2212";
  font-family: 'Glyphicons Halflings';
  font-size: 9px;
  float: left;
  margin-top: 4px;
  margin-left: -17px;
  color: #CCCCCC;
}

.past-proj {
  padding: 3rem 1.5rem;
  text-align: left;
}

.past-proj-list li {
  display: block;
  width:100%;
  height:100%;
}

.past-proj-list li:before {
  content: "\2212";
  font-family: 'Glyphicons Halflings';
  font-size: 9px;
  float: left;
  margin-top: 4px;
  margin-left: -17px;
  color: #CCCCCC;
}

.wide {
  width:100%;
  height:100%;
/*  height:calc(75% - 1px);*/
  background-image:url('assets/nz_just_bg.jpg');
  background-position: 0% 60%;
  background-size:cover;
}

.wide2 {
  width:100%;
  height:100%;
  height:calc(100% - 1px);
  background-image:url('assets/nz_me_and_rock.png');
  background-position: 0% 60%;
  background-size:cover;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: rotate3d(2,-1,-1,-0.2turn);
}

@media screen and (min-width: 700px) {
    .title {
      position: absolute;
      top: 40%;
      left: 40%;
      transform: translate(-50%, -50%);
      transform: rotate3d(0,1,.5,0.2turn);
    }
}

.titles {
    
}

.title h1 {
    color: #fff;
    margin: 0;
    padding: 5px 15px 10px 15px;
    background-color: rgba(115,0,10,1);
    font-size: 100px;
}

.title h4 {
    color: #fff;
    margin: 0;
    padding: 0px 15px 5px 15px;
    background-color: rgba(115,0,10,1);
}

.title h5 {
    color: #fff;
    margin: 0;
    padding: 0px 15px 10px 15px;
    background-color: rgba(115,0,10,1);
}

.title p {
    color: #fff;
    margin: 0;
    padding: 0px 15px 10px 15px;
    max-width:400px;
    background-color: rgba(115,0,10,1);
}

/*.wide {
  width:100%;
  height:50%;
  height:calc(75% - 1px);
  background-image:url('assets/003.JPG');
  background-position: 0% 30%;
  background-size:cover; 
}*/

.wide img {
  width:100%;
}

.wide2 img {
  width:100%;
}

.jumbo-vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.panel-title-custom {
  font-size: 150%;
  color: #000000;
}

.contact-list {
  padding: 20% 0;
}

.logo {
  color:#000;
  font-weight:800;
  font-size:14pt;
  padding:25px;
  text-align:center;
}

.github-logo {
  max-width: 70%;
  max-height: 70%;
}

.linked-in-logo {
  max-width: 30%;
  max-height: 30%;
}

.line {
  padding-top:0px;
  white-space:no-wrap;
  overflow:hidden;
  text-align:center;
}

.circlepic {
    text-align: center;
    padding-top: 120%;
}

.bib-li {
  margin-bottom: 1em;
}

.bib-title {
  font-size: 120%;
  color: #500000;
}

a.bib-title-a:link {
  color: #500000;
  text-decoration: none;
}

a.bib-title-a:visited {
  color: #500000;
  text-decoration: none;
}

a.bib-title-a:hover {
  color: #500000;
  text-decoration: underline;
}

a.bib-title-a:active {
  color: #500000;
  text-decoration: underline;
}

.bib-author {
  color: #836E2C;
}

.bib-journal {
  font-style: italic;
}

.bib-default {
  
}

.center-vid {
  display: block;
  margin: 0 auto;
  width: 70%;
  height: 240px;
}

li.borderless {
  border-top: 0 none;
  border-bottom: 0 none;
  border-left: 0 none;
  border-right: 0 none;
}

@media (min-width: 600px) {
  .wide {
    background-image: url('assets/nz_just_bg.jpg')
    background-position: 30% 0%;
  }
}

@media (min-width: 600px) {
  .wide2 {
    background-image: url('assets/nz_me_and_rock.png')
    background-position: 30% 0%;
  }
}

/*@media (min-width: 600px) {
  .wide {
    background-image: url('assets/001.JPG')
  }
}*/

.cover-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cover-parent {
    width: 100%;
    margin: 20px;
    height: 300px;
    border: 1px solid blue;
    overflow: hidden;
    position: relative;
    float: left;
    display: inline-block;
  cursor: pointer;
}

.cover-child {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.cover-img-one {background-image: url('assets/nz_just_bg.jpg');}

#container11 {
  position: relative;
  height: 100%;
  width: 100%;
  //border: solid 1px red;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.slide11 {
  display: block;
  position: absolute;
  height: 200px !important;
  width: 200px !important;
  background: red;
}

.nzbg {
  position: absolute;

  width: 110%;
  height: 110%;
  background-image:url('assets/nz_just_bg.jpg');
  background-size:cover;
  background-position: 0% 60%;
}

.nzme {
  position: absolute;

  width: 110%;
  height: 110%;
  background-image:url('assets/nz_me_and_rock.png');
  background-size:cover;
  background-position: 0% 60%;
}

.nzname {
  position: absolute;
  border: 5px solid white;
}

.nzname h1 {
    color: white;
    font-size: 300%;
    padding: 10px;
}

#scroll-arrow span {
  position: absolute;
  top: 80%;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}