body,html {
  height: 100%;
}

body {
  padding-top: 50px;
  background-color: #e6f3ff;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.wide {
  width:100%;
  height:50%;
  height:calc(50% - 1px);
  background-image:url('assets/grantet.jpg');
  background-size:cover;
}

.wide img {
  width:100%;
}

.logo {
  color:#000;
  font-weight:800;
  font-size:14pt;
  padding:25px;
  text-align:center;
}

.line {
  padding-top:20px;
  white-space:no-wrap;
  overflow:hidden;
  text-align:center;
}

.circlepic {
	text-align: center;
	padding-top:15%;
}