/*Update Comment ...*/

body,html {
  height: 100%;
}

body {
  padding-top: 50px;
  background-color: #fff;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: left;
}

.current-proj {
  padding: 3rem 1.5rem;
  text-align: left;
}

.current-proj-list li {
  display: block;
  width:100%;
  height:100%;
}

.current-proj-list li:before {
  content: "\2212";
  font-family: 'Glyphicons Halflings';
  font-size: 9px;
  float: left;
  margin-top: 4px;
  margin-left: -17px;
  color: #CCCCCC;
}

.past-proj {
  padding: 3rem 1.5rem;
  text-align: left;
}

.past-proj-list li {
  display: block;
  width:100%;
  height:100%;
}

.past-proj-list li:before {
  content: "\2212";
  font-family: 'Glyphicons Halflings';
  font-size: 9px;
  float: left;
  margin-top: 4px;
  margin-left: -17px;
  color: #CCCCCC;
}

.wide {
  width:105%;
  height:50%;
  height:calc(75% - 1px);
  background-image:url('assets/nz_just_bg.JPG');
  background-position: 0% 60%;
  background-size:cover;
}

.wide2 {
  width:100%;
  height:50%;
  height:calc(100% - 1px);
  background-image:url('assets/nz_me_and_rock.PNG');
  background-position: 0% 60%;
  background-size:cover;
}

/*.wide {
  width:100%;
  height:50%;
  height:calc(75% - 1px);
  background-image:url('assets/003.JPG');
  background-position: 0% 30%;
  background-size:cover; 
}*/

.wide img {
  width:100%;
}

.wide2 img {
  width:100%;
}

.jumbo-vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.panel-title-custom {
  font-size: 150%;
  color: #000000;
}

.contact-list {
  padding: 20% 0;
}

.logo {
  color:#000;
  font-weight:800;
  font-size:14pt;
  padding:25px;
  text-align:center;
}

.github-logo {
  max-width: 70%;
  max-height: 70%;
}

.linked-in-logo {
  max-width: 30%;
  max-height: 30%;
}

.line {
  padding-top:0px;
  white-space:no-wrap;
  overflow:hidden;
  text-align:center;
}

.circlepic {
	text-align: center;
	padding-top: 120%;
}

.bib-li {
  margin-bottom: 1em;
}

.bib-title {
  font-size: 120%;
  color: #500000;
}

a.bib-title-a:link {
  color: #500000;
  text-decoration: none;
}

a.bib-title-a:visited {
  color: #500000;
  text-decoration: none;
}

a.bib-title-a:hover {
  color: #500000;
  text-decoration: underline;
}

a.bib-title-a:active {
  color: #500000;
  text-decoration: underline;
}

.bib-author {
  color: #836E2C;
}

.bib-journal {
  font-style: italic;
}

.bib-default {
  
}

li.borderless {
  border-top: 0 none;
  border-bottom: 0 none;
  border-left: 0 none;
  border-right: 0 none;
}

@media (min-width: 600px) {
  .wide {
    background-image: url('assets/nz_just_bg.JPG')
  }
}

@media (min-width: 600px) {
  .wide2 {
    background-image: url('assets/nz_me_and_rock.PNG')
  }
}

/*@media (min-width: 600px) {
  .wide {
    background-image: url('assets/001.JPG')
  }
}*/